<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "css/add-form.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <title>Contact page</title>
</head>
<body>

  <div class="add-container">

    <h2>Enter the necessary info</h2>
    <hr style="border: 2px solid black;">

    <form class = "contact-form" method="GET">
      
      <div class="button-group">
        <input type="radio" name="category-choice" id="choice-1">
        <input type="radio" name="category-choice" id="choice-2">
        <input type="radio" name="category-choice" id="choice-3">
        <input type="radio" name="category-choice" id="choice-4">
      </div>

      <input type="file" id="fileUpload" accept="image/*" >

      <div class="label-group">
        <label for="choice-1" class="label-1">Headwear</label>
        <label for="choice-2" class="label-2">Cosmetics</label>
        <label for="choice-3" class="label-3">Seasonal</label>
        <label for="choice-4" class="label-4">Celebration</label>
      </div>


      <div id="description-field">
        <label for="description">Description</label>
        <textarea name="userText" id="description" cols="50" rows="10" placeholder="Describe what you have made..." required></textarea>
      </div>

      <button type="submit">Submit</button>
      
    </form>

    <a href="index.html">Return to home page</a>

  </div>
  
</body>
</html>