<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/cartstyle.css}">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <title>Shopping Cart</title>
</head>

<body>

<div id="navigation-bar">
    <ul>
        <li><a th:href="@{/home}"><img src="Images/Logo.png" id="logo"></a></li>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/crafts}">Crafts</a></li>
        <li><a th:href="@{/contact}">Contact Me</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        <li><a th:href="@{/cartPage}"><img th:src="@{/Images/shoppingIcon.png}"></a></li>
    </ul>
</div>

<div id="shopping-cart">
    <h1>Shopping Cart</h1>
    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td>
                <img th:src="item.itemImage"></td>
            <td>
                <input type="number"  th:value="${item.itemPrice}" disabled>
            </td>
            <td>
                <img th:src="@{/Images/delete_icon.png}" class="delete-icon">
            </td>
            <td th:text="${item.itemPrice}"></td>
        </tr>
        </tbody>
    </table>
    <button id="checkout-button">Checkout</button>
</div>

</body>

</html>