<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/craftsstyle.css}">
    <title>Carols Crafts</title>
</head>

<body>
<div id="navigation-bar">
    <ul>
        <li><a th:href="@{/home}"><img src="Images/Logo.png" id="logo"></a></li>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/crafts}">Crafts</a></li>
        <li><a th:href="@{/contact}">Contact Me</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>


<div class="container">

        <div class="card" th:each="item : ${allItems}">
            <a th:href="@{/craft/delete(craftId=${item.id})}" sec:authorize="hasRole('ROLE_ADMIN')"><img id="delete-icon" th:src="@{/Images/Delete_Icon.png}"></a>
            <img class="card-image" th:src="@{${item.imagePath}}"></img>
            <h2>Title</h2>
            <textarea readonly th:text="${item.text}">Text</textarea>
        </div>

</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a id="add-button" th:href="@{/crafts/add}"><img src="Images/add-icon.png"></a>
</div>

</div>

<div id="footer">
    <a href="https://www.instagram.com/mckcarcreations/" target="_blank"><img th:src="@{Images/Instagram_Icon.png}" style="height: 50px; width: 100px"></a>
</div>


</body>
</html>