<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" th:href = "@{/css/craftsstyle.css}">
    <title>Carols Crafts</title>
</head>

<body>
<div id="navigation-bar">
    <ul>
        <li><a th:href="@{/home}"><img src="Images/Logo.png" id="logo"></a></li>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/crafts}">Crafts</a></li>
        <li><a th:href="@{/contact}">Contact Me</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

        <li><a href="index.html"><img src="Images/shoppingIcon.png"></a></li>
    </ul>
</div>

  
    <div class = "container">
      
      

    </div>

    <a id="add-button" th:href="@{/crafts/new}"><img src = "Images/add-icon.png"></a>
      
    </div>

  <div id="footer">
    <a href="https://www.instagram.com/mckcarcreations/" target="_blank"><img src="Images/Instagram_Icon.png"></a>
  </div>

  
</body>
</html>