<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "css/stylesheet.css">
  <title>Carols Crafts</title>
</head>
<body>
  <div id="navigation-bar">
    <ul>
      <li><a th:href="@{/home}"><img src="Images/Logo.png" id="logo"></a></li>
      <li><a th:href="@{/home}">Home</a></li>
      <li><a href="crafts.html">Crafts</a></li>
      <li><a href="contact.html">Contact Me</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="index.html"><img src="Images/shoppingIcon.png"></a></li>
    </ul>
  </div>

  
  <div class = "container">

      <h1>You might be interested in..</h1>


      <div class="category-1">
        <h2>Headwear</h2>
        <div class="image-container">
          <img src="Images/InstaCups.jpg">
          <img src="Images/InstagEarrings.jpg">
          <img src="Images/InstaCups.jpg">
          <img src="Images/InstagEarrings.jpg">
        </div>

      </div>

      <div class="category-2">
        <h2>Seasonal</h2>
        
      </div>

      <div class="category-3">
        <h2>Cosmetics</h2>
      </div>

      <div class="category-4">
        <h2>Celebration</h2>

      </div>
      
    </div>

  <div id="footer">
    <a href="https://www.instagram.com/mckcarcreations/" target="_blank"><img src="Images/Instagram_Icon.png"></a>
  </div>

  
</body>
</html>