.myButton
{
    font-size: 30px; 
    position: absolute; 
    background-color: skyblue;
    resize: none;
    bottom: 200px;

}
.myButton:active
{
    background-color: darkblue;
}
#wrapper
{
    margin-left:auto;
    margin-right:auto;
    width:960px;
    position: relative;
}